

.selected {
    background-color: #E9F4FF !important;
}

.online {
    background-color: #519B4A;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 4px;
}