

.button {
    padding: 6px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: black;
    font-size: 13px;
    &:hover {
        opacity: 0.6;
    }
}



.primary {
    background-color: rgba(0, 0, 255, 1);
    color: #fff;
    font-weight: 500;
}

.small {
    width: 100px;
    height: 30px;
}

.medium {
    width: 75%;
}

.large {
    width: 100%;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}