

.button {
    padding: 6px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        opacity: 0.6;
    }
}



.primary {
    background-color: rgba(0, 0, 255, 0.7);
    color: antiquewhite;
}

.small {
    width: 100px;
    height: 30px;
}

.medium {
    width: 75%;
}

.large {
    width: 100%;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}