.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .navbar {
        width: 80px !important;
    }
}

.navbar-active-popper {
    width: 80px;
    transition: width .3s ease-in-out;
}

.navbar-inactive-popper {
    width: 250px;
    transition: width .3s ease-in-out;
}

.navbar-btn--active {
    background-color: rgba($color: #000000, $alpha: 0.2) !important;
}




.navbar-btn {
    padding: 12px 24px !important;
    border-radius: 15px !important;
    margin-top: 4px;

    a {
        text-decoration: none;
        color: #000;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}




.active {
    span {
        font-weight: bold;
        font-size: 18px;
    }

    svg:not(:root) {
        color: #000;
    }

    .navbar {
        width: 40px !important;
    }

}





.toggle-popper {
    text-transform: none;
    font-size: 16px;
    width: 100%;
    padding: 12px 28px;
    border-radius: 5px;
    cursor: pointer;
    color: rgba($color: #000000, $alpha: 0.54);

    &:hover {
        background-color: transparent;
    }

}